$mainTextColor: #f5f5f5;
.paragraph {
  color: $mainTextColor;
}

.heading1 {
  color: $mainTextColor;
}

.blog-title {
  color: $mainTextColor;
}

.blog-timestamp {
  color: $mainTextColor;
  opacity: 0.75;
}
